.error_container {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #292525;
    color: white;
    width: auto;
    padding: 5px;
    animation: hide 2s ease-in-out 1;
}

.error_msg {
    display: inline;
    font-size: 18px;
    margin: 25px;
}

.close_btn {
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}

.progress_line {
    height: 4px;
    position: relative;
    right: 5px;
    bottom: -5px;
    background: green;
    animation: progress 5s ease-in-out 1;
    width: 0px;
}

@keyframes progress {
    0% {
        width: 0px;
    }

    100% {
        width: calc(100% + 10px);
    }
}