.right {
    /* font-size: 20px; */
    color: rgb(255, 255, 255);
    padding-right: 50px;
    display: flex;
    gap: 10px;
}
.main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
}

.home_main_container {
    height: 550px;
    width: 100%;
}

.img_container {
    z-index: -9;
    position: fixed;
    height: 550px;
    width: 100%;
    background: url('../../assets/office.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main_container {
    background: #00000064;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-transform: capitalize;
}

.main_text_container {
    width: 80%;
    margin: auto;
}

.main_container .heading {
    line-height: 60px;
    font-size: 50px;
    font-weight: bolder;
    color: white;

}

.main_container .description {
    font-size: 23px;
    font-weight: 500;
    color: #cecece;
    margin-top: 10px;
}

.get_started {
    display: inline-flex;
    margin-top: 20px;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
}

.bg-white {
    background: white;
}

.empower_section {
    min-height: 300px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.empower_heading {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}

.empower_left {
    width: 50%;
    height: 100%;
    padding-right: 50px;
}

.empower_right {
    width: 50%;
    height: 100%;
    text-align: end;
}

.empower_right img {
    width: 100%;
}

.empower_text {
    margin-top: 20px;
}

.number_counter_section {
    min-height: 150px;
    margin-top: 50px;
    background: #cecece;
}

.number_counter {
    min-height: 150px;
    width: 80%;
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.number_counter .first,
.second,
.third,
.fourth {
    text-align: center;
}

.number_counter .first :first-child,
.second :first-child,
.third :first-child,
.fourth :first-child {
    color: #1a385d;
    font-size: 40px;
    font-weight: 900;
}

.number_counter .first :last-child,
.second :last-child,
.third :last-child,
.fourth :last-child {
    font-weight: 500;
    color: rgb(47, 47, 47);
}

.countup {
    color: #1a385d !important;
    font-size: 40px !important;
    font-weight: 900 !important;
}

.why_choose_section {
    color: white;
    min-height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 30px;
    padding-bottom: 100px;
}

.why_choose_section h3 {
    margin-top: 20px;
}

.wc_first {
    padding: 30px;
    background: #1a385d;
    border-radius: 5px;
}

.wc_first_heading {
    font-size: 35px;
    font-weight: 900;
}

.wc_first_description {
    margin-top: 30px;
}

.wc_second,
.wc_third,
.wc_fourth {
    border: 0.5px solid rgb(204, 204, 204);
    color: #1f1f1f;
    height: 90%;
    text-align: center;
    padding: 10px;
}

.wc_second i,
.wc_third i,
.wc_fourth i {
    font-size: 40px;
    margin-top: 30px;
    background: #a9ffc3;
    padding: 15px;
    border-radius: 50%;
}

.wc_fourth i {
    padding: 15px 20px;
}

.wc_text {
    margin-top: 40px;
    color: rgb(48, 48, 48);
}

@media screen and (max-width:1000px) {
    .main_container {
        height: calc(90vh - 70px);
    }

    .img_container {
        height: calc(90vh - 70px);
    }

    .home_main_container {
        height: calc(90vh - 70px);
        width: 100%;
    }
    .main_text_container .heading {
        font-size: 40px;
    }

    .main_text_container .description {
        font-size: 20px;
    }

    .why_choose_section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 10px;
    }

    .empower_section {
        padding-top: 60px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .empower_left {
        width: 100%;
    }

    .empower_right {
        width: 100%;
    }
    .number_counter_section {
        min-height: 250px;
        margin-top: 50px;
        background: #cecece;
    }
    
    .number_counter {
        min-height: 250px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
}

@media screen and (max-width:800px) {
    .main_container {
        height: calc(100vh - 70px);
    }

    .img_container {
        height: calc(100vh - 70px);
    }

    .home_main_container {
        height: calc(100vh - 70px);
        width: 100%;
    }
    .why_choose_section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .wc_first{
        padding: 50px;
    }
}

@media screen and (max-width:750px) {
.desktopMenu{
    display: none;
}
.mobileMenu{
    font-size: 30px;
    color: #000;
    display: block;
    cursor: pointer;
    padding-right: 50px;
}
}
@media screen and (max-width:630px) {
    .main_text_container .heading {
        font-size: 30px;
        line-height: 40px;
    }

    .main_text_container .description {
        font-size: 18px;
    }
    .get_started{
        padding: 8px 35px;
    }
}
@media screen and (max-width:550px) {
    .number_counter {
        min-height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width:460px) {
    .main_text_container .heading {
        font-size: 25px;
        line-height: 40px;
    }
    .main_text_container .description {
        font-size: 16px;
    }
    .get_started{
        padding: 6px 30px;
    }
    .wc_first{
        padding: 25px;
    }
}